{%- set client_class = restrun.client_prefix | capitalize + "Client" -%}
{{ auto_generated_doc_comment }}
from typing import Literal

from typing_extensions import override, overload

from restrun.core.client import RestrunClient
from restrun.exceptions import URLNotSupportedError

{% for resource in restrun.resources %}
from ..resources import {{ resource.module_name }}
{% endfor %}
{% if restrun.client_mixins | length != 0 %}
from .mixins import (
{% for mixin in restrun.client_mixins %}
    {{ mixin.module_name }},
{% endfor %}
)
{% endif %}


class {{ client_class }}({{ (restrun.client_mixin_path_names + ["RestrunClient"])|join(", ") }}):
{% if restrun.resources | length == 0 %}
    pass
{% elif restrun.resources | length == 1 %}
{% set resource = restrun.resources[0] %}
{% set urls = restrun.get_resource_urls(resource) %}
    @override
    def request(self, url: {{ urls | literal }},) -> "{{resource.module_name}}.{{ resource.class_name }}":
        if url in {{ urls }}:
            return {{resource.module_name}}.{{ resource.class_name }}(self._client)

        else:
          raise URLNotSupportedError(url)
{% else %}
{% for resource in restrun.resources %}
{% set urls = restrun.get_resource_urls(resource) %}
    @overload
    def request(self, url: {{ urls | literal }},) -> "{{resource.module_name}}.{{ resource.class_name }}":
        ...
{% endfor %}

    def request(self, url):
{% for resource in restrun.resources %}
{% set urls = restrun.get_resource_urls(resource) %}
        if url in {{ urls }}:
            return {{resource.module_name}}.{{ resource.class_name }}(self._client)

{% endfor %}

        raise URLNotSupportedError(url)
{% endif %}
