{%- set client_class = restrun.client_prefix|capitalize + "Client" -%}
{%- set real_client_class = restrun.client_prefix|capitalize + "RealClient" -%}
{%- set mock_client_class = restrun.client_prefix|capitalize + "MockClient" -%}
{{ auto_generated_doc_comment }}

from .client import {{ client_class }}
from .mock_client import {{ mock_client_class }}
from .real_client import {{ real_client_class }}

__all__ = [
    "{{ client_class }}",
    "{{ mock_client_class }}",
    "{{ real_client_class }}",
]
