{{ auto_generated_doc_comment }}
from restrun.core.resource import Resource
{% for method in resource.methods %}
from . import {{method.module_name}}
{% endfor %}

class {{ resource.module_name|class_name }}Resource(
{% for method in resource.methods %}
    {{ method.module_name }}.{{ method.class_name }},
{% endfor %}
    Resource
):
    pass
