{{ auto_generated_doc_comment }}
{%- for import_module in schema.import_field_types %}
{{ import_module }}
{% endfor %}

{% if schema.type == "object" %}
{% set object = schema.data_type %}
class {{ object.class_name }}(typing.TypedDict):
{%- if object.title_and_description %}
    """
    {{ object.title_and_description|indent(4) }}
    """

{% endif %}
{% for name, property in object.properties.items() %}
    {{ name }}: {% if not property.required -%}typing.NotRequired[{% endif %}{{ property.data_type }}{% if not property.required %}]{% endif %}
{%- if property.title_and_description %}
    """
    {{ property.title_and_description|indent(4) }}
    """

{% endif %}
{% endfor %}
{% endif %}
