{%- macro generate_schema(prefix, schema) -%}
{% if schema.is_literal_type %}
{{ schema.type_name }} = {{ schema.data_type.value }}

{% elif schema.type == "custom_str" %}
{{ schema.type_name }} = str

{% elif schema.type == "literal_union" %}
{{ schema.type_name }} = {{ schema.data_type }}

{% elif schema.type == "array" %}
{{ schema.type_name }} = {{ schema.data_type }}

{% elif schema.type == "object" %}
{% set object = schema.data_type %}
class {{ object.class_name }}(typing_extensions.TypedDict):
{%- if object.title_and_description %}
    """
    {{ object.title_and_description | wordwrap | indent(4) }}
    """

{% endif %}
{% for name, property in object.properties.items() %}
    {{ name }}: {% if not property.required -%}typing.NotRequired[{% endif %}{{ property.data_type }}{% if not property.required %}]{% endif %}
{%- if property.title_and_description %}
    """
    {{ property.title_and_description | wordwrap | indent(4) }}
    """

{% endif %}
{% endfor %}

{% elif schema.type == "ref" %}
{{ schema.data_type.class_name }} = {{ schema.data_type }}

{% endif %}
{%- endmacro -%}

{{ auto_generated_doc_comment }}
{%- for import_module in schema.import_field_types %}
{{ import_module }}
{% endfor %}

{{ generate_schema("", schema) }}
