{{ auto_generated_doc_comment }}
import pydantic
import textwrap
import typing
from restrun.core.model import ExtraForbidModel, Model
{%- for import_module in schema.import_field_types %}
{{ import_module }}
{% endfor %}

{% if schema.type == "object" %}
{% set object = schema.data_type %}
class {{ object.class_name }}(
{%- if object.additional_properties %}
    Model
{%- else %}
    ExtraForbidModel
{%- endif %}
):
{%- if object.title_and_description is not none %}
    """
    {{ object.title_and_description | wordwrap | indent(4) }}
    """

{% endif %}
{% for name, property in object.properties.items() %}
    {{ name }}: typing.Annotated[
        {{ property.data_type }},
        pydantic.Field(
{%- if property.title is not none %}
            title="""
                {{ property.title | wordwrap | indent(16) }}
                """,
{%- endif %}
{%- if property.description is not none %}
            description=textwrap.dedent(
                """
                {{ property.description | wordwrap | indent(16) }}
                """
            ).strip(),
{%- endif %}
{%- if property.default is not none %}
            default={{ property.default }},
{%- endif %}
        )
    ]
{%- if property.description is not none %}
    """
    {{ property.description | wordwrap | indent(4) }}
    """
{%- endif %}
{% endfor %}
{% endif %}
